
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: #b6c5d4;
    color: #e2e9f0;
    line-height: 1.6;
    padding-bottom: 70px; 
    position: relative;
    min-height: 100vh;
  }
  

  header {
    background: linear-gradient(135deg, #030816 0%, #050218 100%);
    color: rgb(243, 238, 238);
    text-align: center;
    padding: 60px 20px;
    margin-bottom: 40px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  
  header p {
    font-size: 1.2rem;
    opacity: 0.9;
  }
  
 
  table {
    max-width: 900px;
    margin: 0 auto 40px;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    border: none;
  }
  
  th, td {
    padding: 18px 25px;
    text-align: left;
    border: none;
    color:black;
  }
  
  th {
    background-color: #08090e;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  
  td {
    border-bottom: 1px solid #e9ecef;
  }
  
  tr:last-child td {
    border-bottom: none;
  }
  

  ul {
    list-style-position: inside;
    margin-left: 10px;
  }
  
  li {
    margin-bottom: 8px;
    position: relative;
    padding-left: 5px;
  }
  
  li:last-child {
    margin-bottom: 0;
  }
  

  footer {
    background-color: #051c33;
    color: white;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  }
  
  footer a {
    color: #c1bfd3;
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(7, 2, 20);
    padding: 3px 8px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  footer a:hover {
    background-color: #09071a;
    color: white;
  }
  
  
 